[submodule "backend"]
	path = backend
	url = https://github.com/chenjianpeng97/fastapi-clean-example.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/chenjianpeng97/tuner-frontend.git
