[submodule "frontend"]
	path = frontend
	url = https://github.com/chenjianpeng97/free-react-tailwind-admin-dashboard.git
[submodule "backend"]
	path = backend
	url = https://github.com/chenjianpeng97/fastapi-clean-example.git
